<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Activation</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        /* Custom styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding-top: 40px;
        }
        .container {
            max-width: 600px;
            background-color: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 0 auto;
        }
        .btn-activate {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            transition: all 0.3s ease;
            color: white;
            background-color: #5cb85c;
        }

        .fa-icon {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="display-4">Welcome, <%= user_firstname %>!</h1>
        <p class="lead">Thank you for signing up. To activate your account ✅, please click the button below:</p>
        <a href="<%= confirm_link %>" style="color: white; text-decoration: none" class="btn-activate"><i class="fas fa-envelope fa-icon"></i>Activate Account</a>
        <hr class="my-4">
        <p>If you're having trouble activating your account, copy and paste the following URL into your browser:</p>
        <p><%= confirm_link %></p>
        <p class="text-muted">Thank you!</p>
    </div>

    <!-- Font Awesome JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>
